/* Styles go here */
.navlink {
    color: rgb(137, 137, 211);
    text-underline-position: below;
   
}
.Link {
    color: rgb(137, 137, 211);
    text-underline-position: below;
   
}
nav {
    color: seashell;
}